@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e7c102;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFD910;
}

body {
  width: 100%;
  background-color: #363635;
  -webkit-box-shadow: 1px 1px 20px black;
          box-shadow: 1px 1px 20px black;
}

nav {
  overflow-x: hidden;
  background: #000000;
  position: relative;
  width: 100%;
  height: 200px;
}

nav .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 124px;
}

nav .title img:nth-child(1) {
  position: relative;
  right: 79px;
}

nav .title img:nth-child(2) {
  position: absolute;
  top: 18px;
  left: 64vw;
}

nav .title img:nth-child(3) {
  position: absolute;
  left: 75.3vw;
}

nav .nav-items {
  height: 76px;
  background: #080303;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-items li {
  font-size: 1.5em;
  margin: 4.7vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .nav-items li:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

nav .nav-items li a {
  color: white;
  text-decoration: none;
}

nav .nav-items li a:hover {
  color: #FFD910;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background: #1E1E1E; */
  background-image: url(img/banner2-hp-2015.jpg);
  background-blend-mode:luminosity;
  /* background-image: url(img/banner1-hp-2015.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; */
  position: relative;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  

}

h1 {
  text-align: center;
  color: #FFD910;
  font-size: 3.7em;
  font-weight: 500;
  padding: 15vh 0px 6vh;
}

header {
  overflow: hidden;
  text-align: center;
  height: 1000px;
  font-weight: 800;
}

header p, header pre {
  font-weight: 800;
  color: rgb(15, 1, 1);
  width: 58vw;
  margin-bottom: 93px;
}

header p {
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
}

header pre {
  font-size: 2.5em;
  line-height: 50px;
}

header pre span {
  color: #FFD910;
}

.about {
  text-align: center;
  line-height: 4vh;
  font-weight: 300;
  /* background: #1E1E1E; */
  height: 490px;

  background-image: url(img/banner1-hp-2015.jpg);
  /* background-image: url(img/banner1-hp-2015.jpg); */
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position:center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; */
  position: relative;
}

.about p {
  color: white;
  width: 58vw;
  text-align: justify;
  font-size: 1.5em;
}
/* .p .center{
  text-align: center;
  font-size: 30px;
  
} */

.our-projects {
  position: relative;
  background: #1E1E1E;
  height: 170vh;
}

.our-projects .line {
  position: absolute;
  height: 105vh;
  background-color: black;
  width: 4px;
  left: 50vw;
  top: 45vh;
  z-index: 2;
}

.our-projects .bullet {
  position: relative;
  width: 2vw;
  height: 2vw;
  background-color: black;
  margin: 20vh 0;
  right: 0.9vw;
  border-radius: 20px;
}

.our-projects .bullet:nth-child(1) {
  margin-top: 10vh;
}

.our-projects .projects {
  position: relative;
  width: 75%;
  margin-top: 10vh;
  height: 120vh;
  background-color: #FFD910;
  border-radius: 90px;
}

.our-projects .projects .project {
  position: absolute;
  width: 20vw;
}

.our-projects .projects .project h1 {
  text-align: left;
  padding: 0;
  color: black;
  font-size: 2em;
  font-weight: 400;
}

.our-projects .projects .project p {
  margin-top: 3vh;
  line-height: 3vh;
  font-size: 1.1em;
}

.our-projects .projects .project:nth-child(1) {
  text-align: left;
  left: 40vw;
  top: 10vh;
}

.our-projects .projects .project:nth-child(2) {
  text-align: right;
  right: 40vw;
  top: 40vh;
}

.our-projects .projects .project:nth-child(2) h1 {
  text-align: right;
}

.our-projects .projects .project:nth-child(3) {
  text-align: left;
  left: 40vw;
  top: 65vh;
}

.our-projects .projects .project:nth-child(4) {
  text-align: right;
  right: 40vw;
  top: 88vh;
}

.our-projects .projects .project:nth-child(4) h1 {
  text-align: right;
}

footer {
  text-align: center;
  background: black;
  color: white;
}

footer .find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  margin: 0vh 5vw;
}

footer .find .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

footer .find .location img {
  margin-right: 1vw;
  height: 10vh;
}

footer .find .location .info {
  height: 10vh;
}

footer .find .location .info h2 {
  margin-bottom: 2vh;
}

footer hr {
  width: 57vw;
  border: 1px solid #838383;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  margin-left: 13vh;
}

footer .bottom .b-left {
  text-align: left;
  width: 50vw;
}

footer .bottom .b-left .logo2 {
  height: 15vh;
  margin: 0vh 0vw 6vh;
}

footer .bottom .b-left h2 {
  margin-left: 5vw;
  margin-bottom: 3vh;
  font-size: 2em;
  font-weight: 400;
}

footer .bottom .b-left ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13vw;
  margin-right: 8vw;
}

footer .bottom .b-left ul a {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .bottom .b-left ul a:hover {
  color: #FFD910;
}

footer .bottom .b-right {
  height: 30vh;
  width: 60vw;
  margin-right: 20vw;
}

footer .bottom .b-right h2 {
  margin-bottom: 2vh;
  font-size: 1.6em;
  margin-left: 1vw;
}

footer .bottom .b-right hr {
  width: 6.5vw;
  text-align: left;
  background-color: #FFD910;
  border: 2px solid #FFD910;
}

footer .bottom .b-right .right-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom .b-right .right-links ul {
  margin-top: 5vh;
  list-style: none;
  text-align: left;
}

footer .bottom .b-right .right-links ul li {
  font-size: 1.2em;
  margin: 3vh 0vw;
}

footer .bottom .b-right .right-links .flist1 {
  margin-left: 11vw;
}

@media only screen and (max-width: 1390px) {
  header {
    height: 875px;
  }
  header pre {
    width: 100%;
  }
  .about {
    height: 510px;
  }
  .our-projects .bullet:nth-child(1) {
    margin-top: 11vh;
  }
  .our-projects .bullet {
    margin: 21vh 0vw;
  }
  .our-projects .projects .project {
    width: 25vw;
  }
}

@media only screen and (max-width: 1250px) {
  nav .nav-items li {
    font-size: 1.2em;
    margin: 3vh;
  }
}

@media only screen and (max-width: 890px) {
  body {
    width: 100%;
    background-color: #363635;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.6em;
  }
  nav {
    height: 23.5vh;
  }
  nav .nav-items {
    height: 8vh;
  }
  nav .nav-items li {
    font-size: 0.7em;
    margin: 1vh;
  }
  header {
    height: 900px;
  }
  header p {
    font-size: 1em;
    line-height: 3vh;
    width: 70vw;
  }
  header pre {
    width: 100vw;
    font-size: 1em;
    line-height: 5vh;
  }
  footer {
    height: 81vh;
  }
  footer .find .location {
    margin: 2vh auto;
    text-align: center;
    display: block;
  }
  footer .find .location img {
    height: 8vh;
  }
  footer .find .location .info {
    width: 25vw;
  }
  footer .find .location .info h2 {
    font-weight: 400;
  }
  footer .find .location .info p {
    font-size: 0.7em;
  }
  footer .bottom {
    margin: 0%;
    display: block;
  }
  footer .bottom .b-left {
    text-align: center;
  }
  footer .bottom .b-left .logo2 {
    height: 10vh;
    margin: 3vh 0vw;
  }
  footer .bottom .b-left h2 {
    font-size: 1.4em;
    margin: 0%;
  }
  footer .bottom .b-left ul {
    margin: 2vh 0vw 4vh;
    width: 100%;
  }
  footer .bottom .b-right {
    width: 100%;
    height: 3vh;
  }
  footer .bottom .b-right hr {
    width: 40vw;
  }
  footer .bottom .b-right .right-links {
    display: block;
  }
  footer .bottom .b-right .right-links .flist1 {
    margin: 3vh 0vw 0vh;
  }
  footer .bottom .b-right .right-links ul {
    font-size: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .bottom .b-right .right-links ul li {
    margin: 0vh 2vw;
  }
  .about {
    height: 610px;
  }
  .about p {
    width: 78vw;
    text-align: justify;
    font-size: 1em;
  }
  .our-projects {
    overflow-x: hidden;
  }
  .our-projects .line {
    left: 13vw;
  }
  .our-projects .line .bullet:nth-child(1) {
    margin-top: 9vh;
  }
  .our-projects .line .bullet {
    width: 3vh;
    height: 3vh;
    right: 1.2vh;
    margin: 21vh 0;
  }
  .our-projects .projects {
    width: 90%;
    border-radius: 25px;
  }
  .our-projects .projects .project {
    margin: 0;
    width: 75%;
    left: 4vw;
  }
  .our-projects .projects .project h1 {
    font-size: 1.4em;
    text-align: left;
  }
  .our-projects .projects .project p {
    margin-top: 2vh;
    font-size: 0.8em;
    line-height: 2vh;
    text-align: left;
  }
  .our-projects .projects .project:nth-child(1), .our-projects .projects .project:nth-child(2), .our-projects .projects .project:nth-child(3), .our-projects .projects .project:nth-child(4) {
    text-align: left;
    left: 15vw;
  }
  .our-projects .projects .project:nth-child(1) h1, .our-projects .projects .project:nth-child(2) h1, .our-projects .projects .project:nth-child(3) h1, .our-projects .projects .project:nth-child(4) h1 {
    text-align: left;
  }
  .our-projects .projects .project:nth-child(1) {
    top: 16vh;
  }
}
/*# sourceMappingURL=style.css.map */